* {
    font-size: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color: #333;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, p {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    background: #f5f5f5;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
}

a:hover {
    text-decoration: none;
}

h2 {
    font-size: 6rem;
    line-height: 2.8;
    font-weight: 400;
    text-align: center;
    background: #3a383d;
    color: #fff;
}

.clearBoth:after {
    content: '';
    display: block;
    clear: both;
}

.swiper-container {
    margin-bottom: 4.5rem;
    background: #fff;
}

.loan-magin {
    margin-top: 4.5rem;
    margin-bottom: 10rem;
    background: #fff;
}

.swiper-wrapper {
    height: 90rem;

}

.swiper-container h5 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 2.8;
    padding-left: 3.5rem;
    border-bottom: 1px solid #eeeeee;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 1rem;
}

.swiper-pagination-bullet {
    width: 1.5rem;
    height: 1.5rem;
}

.swiper-pagination {
    margin-bottom: 3rem;
}

.banner-img {
    height: 65rem;
}

.banner-title {

    text-align: center;
}

.banner-title h4 {
    font-size: 5rem;
    margin: 1rem 0 1rem;
}

.banner-title p {
    font-size: 3.6rem;
    color: #888888;
}

.recommend-bank {
    background: #fff;
}

.recommend-bank h5 {
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 2.8;
    padding-left: 3.5rem;
    border-bottom: 1px solid #eeeeee;
}

#leibie {
    background-color: transparent;
    height: 120px;
    overflow: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.leibieliright {
    margin-top: 20px;
    height: 80px;
    font-size: 36px;
    width: 30%;
    float: right;
    text-align: center;
    margin-bottom: 10px;
    display: inline-block;
    color: #ccc;
}

.leibielileft {
    color: #000000;
    font-size: 36px;
    font-weight: bold;
    border-bottom: #000 solid 4px;
}

.recommend-bank ul li {
    float: left;
    width: 50%;
    border-bottom: 1px solid #eeeeee;
    padding: 6rem 0;
}

.recommend-bank ul li:after {
    content: '';
    display: block;
    clear: both;
}

.bank-icon {
    width: 28%;
    float: left;
    padding-left: 4rem;
}

.bank-describe {
    width: 72%;
    float: left;
    margin-top: -1rem;
    padding-left: 3rem;
}

.bank-describe a {
    display: block;
}

.color-red {
    color: #fe0003;
}

.bank-describe h6 {
    font-size: 4rem;
    margin: 0.7rem 0;
}

.bank-describe font {
    display: block;
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #adadaf;
}

.bank-describe p {
    font-size: 3.5rem;

}

.bank-describe p span {
    font-size: 3.5rem;
    font-weight: bold;
}

#cnzz_stat_icon_1273395913 {
    display: none;
}

dailyTop {
    border-bottom: blue solid 3px;
    color: blue;
}

weekTop {
    border-bottom: blue solid 3px;
    color: blue;
}

.clearBoth2 {
    display: none;
}